.paginado {
    width: 650px;
    list-style: none;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    padding-left: 0;
    cursor: pointer;
}

.paginado li a {
    font-size: 9px;
    color: black;
    transition: background-color .3s;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 10px;
    background-color: rgb(231, 235, 174); 
}

.paginado li a.active {
    background-color: black;
    color: white;
    
}

.paginado li a:hover:not(.active) {background-color:turquoise;}


