.navBar {
    height: 120px;
    display: flex;
    align-items: center;
    background-color: rgba(32, 34, 30, 0.3);
}

.list {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 129px;
    margin-right: 0px;
    padding-top: 15px;
}

.btnQuit, .btnHome, .btnCreate{
    
    background-color: rgb(231, 235, 174);
    font-family: cursive;
    margin: 10px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 500;
    
}

.btnQuit {
    height: 22%;
    background-color: rgb(236, 106, 106);
}


.btnQuit:hover, .btnHome:hover, .btnCreate:hover{
    color: rgb(11, 12, 2);
    background-color:turquoise;
}
